{% extends 'base.html.twig' %}

{% block title %}SeasonNumber index{% endblock %}

{% block body %}
    <h1>SeasonNumber index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Year</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season_number in season_numbers %}
            <tr>
                <td>{{ season_number.id }}</td>
                <td>{{ season_number.number }}</td>
                <td>{{ season_number.year }}</td>
                <td>{{ season_number.description }}</td>
                <td>
                    <a href="{{ path('app_season_number_show', {'id': season_number.id}) }}">show</a>
                    <a href="{{ path('app_season_number_edit', {'id': season_number.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('season_number_new') }}">Create new</a>
{% endblock %}
